# Arquivos e diretórios do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Ambientes virtuais
venv/
.env/

# Logs e arquivos temporários
*.log
*.tmp

# Configurações específicas do VSCode (se usar)
.vscode/

# Configuração de dependências do Python
Pipfile
Pipfile.lock

# GitHub Actions (caso tenha arquivos temporários gerados por ele)
.github/workflows/*.log
